<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>$~@p</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>New Site</string>
			<key>output</key>
			<string>newDocument</string>
			<key>postprocess</key>
			<string>save</string>
			<key>script</key>
			<string>BuildSiteStructure.php</string>
			<key>uuid</key>
			<string>663AEAFA-EA5B-4023-AD91-18234DB160EF</string>
		</dict>
	</array>
</dict>
</plist>
